[2017-12-06 10:09] thefliik opened #1 "Thanks! and `@NgModule annotation` error"
Thanks **_so_** much for publishing your patches to `angular2-masonry`!!!

FYI, when I installed your package from npm (without issue) and tried to import the `NgxMasonryModule` into an Angularv5.0.3 project, I received an

[code]

I decided to just download your repo, build it like a personal library in my project, and access it normally, and everything works fine.

[2017-12-06 12:00] gethinoakes commented on #1
No problem! Happy to see people have found it 🙂

That's interesting though, as I had a friend try it out and it worked fine for them. Did you import it into your App module? I see in the error it seems to be imported into a sub feature module, this is the only thing I can think that would cause the error. Though I'll do some testing when I have chance.

Also, did you have any problems with the sty

[2017-12-06 15:19] thefliik commented on #1
I just tested, and I run into the same issue when importing the package into my root `app.module.ts`

[code]

I'm using [nrwl/nx](https://nrwl.io/nx/guide-getting-started), which may be complicating matters, though I don't see why it would.

Also ya, I had noticed he `display: block` issue.

[2017-12-06 15:53] thefliik opened #3 "Consider updating ngx-masonry component to OnPush"
So in my app I've currently updated `ngx-masonry.component` to `ChangeDetectionStrategy.OnPush` and everything seems to be working fine. This makes sense to me, because it looks like the Masonry library handles all of the DOM changes.

[2017-12-09 12:22] vugar005 opened #5 "NgxMasonryModule is not an NgModule"
Hi
Firstly, thanks for supporting project. I encounter issue which I did not have in previous angular2-masonry plugin. I follow your documentation on installing and importing the module. When I compile error happens:
[code]
Project version:
[code]
I hope you solve this problem,

[2017-12-11 13:59] gethinoakes commented on #5
Thanks for raising the issue, unfortunately my time is pretty limited right now but I'll take a look at this when I can.

[2017-12-12 15:32] thefliik commented on #5
@vugar005 This looks similar to the error I had with this gem (#1 ). I got around it by downloading the source and building it locally (and then everything was fine). I think the error has something to do with how it was packaged into an an npm package.

[2017-12-14 00:56] LongPotato opened #6 "Remove console.log messages"
Hi,

I just installed this library through npm, and I see this version (0.5.4) still prints out console.log messages even though they are commented out in the source code.

Can you push the update? Thanks!

![consolg-log](https://user-images.githubusercontent.com/9331685/33970197-8e0bca42-e026-11e7-9a91-732f29897427.PNG)

[2017-12-14 01:25] LongPotato opened #7 "Failed to execute 'removeChild' on 'Node'"
I am experiencing this issue when using useImageLoaded:
![error-cslog](https://user-images.githubusercontent.com/9331685/33970899-7455fa92-e02a-11e7-9d04-14d84096c69b.PNG)

My page makes an API call to add additional items into in the list when the user scrolls down to the bottom the page.

This issue occurs when the number of items inside the list is big.

I think it's similar to this issue: http

[2017-12-14 13:49] vugar005 commented on #5
@thefliik  . Thanks. But it might be temporary solution because this way is error -prone. I hope you solve this problem.

[2017-12-15 01:09] lam-nguyen commented on #5
+1
I have this issue when run "ng build -prod" from angular-cli. On local machine everything works fine.

[2017-12-19 12:55] bvamos opened #8 "Cannot read property 'removeChild' of null"
When I remove all elements of the data array masonry gives this error:

    Cannot read property 'removeChild' of null

It looks like the parentNode property of the DOM elements is already null when it tries to remove it by using the internal _msnry object.

[2017-12-19 21:41] dbayonacode commented on #5
Exactly the same issue trying to build with angular CLI, please help.

[2017-12-19 21:58] dbayonacode commented on #7
I had the same issue and I fixed it making sure that the method which add additional items is called once after a specified number of milliseconds (1 sec). I am using ngx-infinite-scroll library for adding extra items and setting the infiniteScrollThrottle attribute to define the number of millisecond to throttle. Hope it helps.

[2017-12-23 22:30] #7 closed

[2018-01-04 19:22] thefliik commented on #5
@lomboboo

1. open up the main page on github: https://github.com/gethinoakes/ngx-masonry
2. click the "clone or download" button and download zip
3. In your angular app using the angular cli, generate a new module (something like `ng g module NgxMasonry`). I'm assuming that the cli will add the module into a new folder.
4. Open up the zip file you downloaded > open up src > copy the files into th

[2018-01-05 07:49] lomboboo commented on #5
@thefliik thank you for your explanation, but I'm getting error like this:

`webpack: Failed to compile.
webpack: Compiling...
 63% building modules 130/145 modules 15 active ...ing-bar/src/slim-loading-bar.utils.jsERROR in src/masonry/ngx-masonry.component.ts(17,14): error TS2304: Cannot find name 'process'.
src/masonry/ngx-masonry.component.ts(17,38): error TS2304: Cannot find name 'process'.
`

[2018-01-05 08:55] thefliik commented on #5
@lomboboo Interesting, I do not get that error.

I must have introduced a bug when I submitted a PR to this package with Angular Universal support. That error is referencing this code here:
https://github.com/gethinoakes/ngx-masonry/blob/2fa6ee04f07ac687f6f2ac3517b00dd259835566/src/ngx-masonry.component.ts#L17-L20

The code checks to see if the app is running in the browser or not. Try updating th

[2018-01-05 11:34] lomboboo commented on #5
@thefliik , actually I just added
`
    "types": [
      "node"
    ]
`
 to **compilerOptions** inside **tsconfig.json** file

[2018-01-05 12:57] thefliik commented on #5
👍

I have `"moduleResolution": "node",` in mine. Maybe that's why I didn't run into an error.

[2018-01-11 09:14] AhsanAyaz opened #9 "Issue with setting one brick as a two column brick"
First of all, thanks for moving to `ngx` 👍
The issue I'm facing is that I want the first card to take 2/3 of the available space. But it is not happening. In fact, if you try to give 2 columns to any of the bricks it won't work. Do you know a workaround we could have?
Here's a [Plunker](https://plnkr.co/edit/415xygMYZquZeaeulX8V?p=preview) explaining the issue.

Attaching an image too.
![screen sh

[2018-01-11 13:39] thefliik commented on #9
@AhsanAyaz it doesn't look like your code has a _grid sizer_ as explained in the [masonry docs](https://masonry.desandro.com/layout.html) (response layout section). See if that fixes it.

[2018-01-11 14:02] AhsanAyaz commented on #9
Already tried. Doesn't fix it.

On Jan 11, 2018 6:39 PM, "thefliik" <notifications@github.com> wrote:

[2018-01-16 18:25] asfo opened #10 "How to use it with percent width?"
Hi, I'm trying to use it in my project, I work with Foundation 6.3.1 which use percent in widths.

I tried to do something like:
[code]

But it didn't work, anyone knows how can I make it to work?.

Thanks for your help

[2018-01-16 18:30] juhguu commented on #5
+1
I have this issue when run "ng build -prod"

[2018-01-17 00:40] thefliik commented on #10
You need to use a grid sizer as explained in the [masonry docs](https://masonry.desandro.com/layout.html) (response layout section). Took me a while to get things working the first time, but I have a 2 column responsive layout working (though all my grid items have the same width).

Note: your grid sizer needs to be inside `<masonry></masonry>`

[2018-01-17 01:15] juhguu commented on #1
I have the same error. On ng build --prod with Angular Universal.

[2018-01-17 01:30] thefliik commented on #1
@juhguu you can get around the error by downloading the source and building the module in your project locally.

[2018-01-17 02:45] juhguu commented on #5
@thefliik I tried this, but I also got the same error.
`ERROR in src/app/ngx-masonry/ngx-masonry.component.ts(17,7): error TS2304: Cannot find name 'process'.
src/app/ngx-masonry/ngx-masonry.component.ts(17,40): error TS2304: Cannot find name 'process'.
src/app/ngx-masonry/ngx-masonry.component.ts(17,64): error TS2304: Cannot find name 'process'.`

[2018-01-17 02:53] thefliik commented on #5
And did you try `lomboboo`'s solution?

[2018-01-17 03:00] juhguu commented on #5
@thefliik yeah.
tsconfig.json:
`{
  "compileOnSave": false,
  "compilerOptions": {
    "types": [ "node" ],
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoots": [
      "node_modules/@types"
    ],
    "lib": [
      "es2017",

[2018-01-17 03:26] thefliik commented on #5
And you tried the
[code]
Update?

Well then you could yank out the conditional entirely. It is only there to support Angular Universal, so if you don't need that you should be A-OK. I am surprised that you're drawing an error when you simply try to test `process === undefined` though. Apparently I'm not super familiar with Javascript, because I didn't think that would ever draw an error.

[2018-01-17 03:42] juhguu commented on #5
@thefliik yes, a tried this. And yes, I need the Angular Universal. 😆

[2018-01-17 21:28] asfo commented on #10
I tried with:
[code]

Basically `row expanded` is a width: 100% container.
And `large-6` is a width: 50% responsive.

And still not working ...

I tried doing "the same" but without angular, on CodePen:
https://codepen.io/asfo/pen/WdYvNp

And works...

I don't know if I'm doing something wrong with the nx-masonry-item or what.

Note: I don't include the "grid sizer" like the example on the masonry

[2018-01-17 23:54] thefliik commented on #10
This works for me
[code]
with styles:
[code]

[2018-01-18 13:08] thefliik commented on #5
@juhguu, I just tested the following, and it seems to work. It may solve the issue for you
[code]

Obviously there's a lot of other code around these changes that I'm not showing. Also, when trying this, remove the previous `var Masonry = require('masonry-layout');` code.

[2018-01-18 13:24] juhguu commented on #5
@thefliik Ty. Work for me.

[2018-01-18 17:16] asfo commented on #10
I tried with your styles and with your code but still doesn't works.

Here is a demo:
![demo](https://i.imgur.com/lV3vTti.png)
https://i.imgur.com/lV3vTti.png

I don't know why the jquery plugin works very well in the codepen but in angular is not working and I'm using the "same code" (same options, same style...)

[2018-01-23 22:39] dessalines commented on #5
I have this issue when using `ng serve -aot`.  The exact error message is:
[code]

[2018-01-23 22:53] dessalines opened #12 "Doesn't work with AOT"
I have an issue when using `ng serve -aot`.  The exact error message is:
[code]

I don't get this error when just running `ng serve`

[2018-01-23 23:37] thefliik commented on #5
@dessalines actually you have issue #1, which was incorrectly closed.

[2018-01-23 23:38] thefliik commented on #12
This is the same as issue #1, I didn't realize that `--aot` was causing it though. I always build my project with `--aot`. I didn't think to test it without the option.

[2018-01-24 00:35] dessalines commented on #12
Is this fixed in your fork?

[2018-01-24 00:52] dessalines commented on #12
Thanks, your instructions from [this comment](https://github.com/gethinoakes/ngx-masonry/issues/5#issuecomment-355374212) worked. But this issue still definitely needs fixing.

[2018-01-24 11:23] Shailu4u commented on #5
I created a new Angular 5 masonry module - https://github.com/Shailu4u/ng-masonry-grid
Works with AOT.

[2018-01-26 11:45] gethinoakes commented on #5
@vugar005 @lam-nguyen @dbayonacode @lomboboo @juhguu @dessalines

 I've updated the whole package now so this should no longer be a problem, please try installing the latest version using NPM (v1.0.0) and let me know if you wouldn't mind.

Sorry it took so long :)

[2018-01-26 12:06] #5 closed

[2018-01-26 12:10] gethinoakes commented on #12
Fixed in https://github.com/gethinoakes/ngx-masonry/releases/tag/v1.0.0

[2018-01-26 12:12] gethinoakes commented on #1
@thefliik @juhguu
fixed in https://github.com/gethinoakes/ngx-masonry/releases/tag/v1.0.0

[2018-01-26 12:12] #1 closed

[2018-01-26 12:18] gethinoakes commented on #6
should be fixed in https://github.com/gethinoakes/ngx-masonry/releases/tag/v1.0.1

[2018-01-26 12:18] #6 closed

[2018-01-26 13:42] dessalines commented on #12
Now I'm getting an error when using regular `ng serve`

[code]

and when running `ng serve -aot` I get:

[code]

[2018-01-26 14:18] gethinoakes commented on #12
Can you try deleting your node_modules folder and doing `npm i`?
Not sure why it's happening for you but was absolutely fine for me 🤔

[2018-01-26 15:18] dessalines commented on #12
Verified that my `package.json` has `"ngx-masonry": "^1.0.1"`, cleared my `node_modules` folder and redid an npm fetch, and I still have the same issue.

I'm not exactly sure how these work but it looks like you have `./node_modules/ngx-masonry/node_modules/@angular/core/@angular/core.es5.js`, so instead of referencing the project's angular libraries, you're referencing another sub node_modules fo

[2018-01-26 15:19] dessalines commented on #12
my version info:
[code]

[2018-01-26 20:37] gethinoakes commented on #12
I think I remember having some issues like this during packaging, it was a CLI issue. Can you try two things for me if you don't mind?

First:
npm update -g @angular/cli
edit package.json changing the line
"@angular/cli": "1.6.0",
to
"@angular/cli": "^1.6.0",
npm update (should install cli v1.6.6)

If that doesn't work, would you mind trying it in a new cli project?
I've successfully installed the

[2018-01-26 21:15] dessalines commented on #12
Cleared out my `node_modules` folder, updated to angular-cli `1.6.6`, and still have the same issue.

Tried generating a new angular cli project, and it has similar errors when running `ng serve`:

[code]

[2018-01-26 21:19] dessalines commented on #12
Looks like here is the relevant issue: https://github.com/angular/angular/issues/20357

[2018-01-26 23:41] gethinoakes commented on #12
@dessalines did following any of the solutions there help?

[2018-01-27 05:47] ericel opened #13 "Critical dependency: the request of a dependency is an expression"
Critical dependency: the request of a dependency is an expression
[code]

[code]
  Still having this error.

[2018-01-31 15:30] gethinoakes commented on #12
Moving this to #13, will look at it there.

[2018-01-31 15:30] #12 closed

[2018-02-01 05:28] dessalines opened #14 "Create as its own project, rather than a fork."
Since the original `angular2-masonry` is abandoned, it'd be a good idea to re-add this as its own project rather than a fork. RIght now, you can't search for this project from github.

[2018-02-01 11:31] gethinoakes commented on #14
Didn't realise that. Will do that soon thanks 👍

[2018-02-02 09:40] abel672 opened #15 "Disable reagroup items after add or remove a masonry-brick"
Hi folks!. I am trying to make masonry work in [virtualScroll](http://rintoj.github.io/angular2-virtual-scroll/#demo) from angular, something like [pinterest](https://www.pinterest.es/) does. The thing is that when virtual scroll is removing and adding new items in the masonry layout, this one is detecting that and repositioning the items at the same time. This cause a conflict between both compon

[2018-02-02 09:57] thefliik commented on #15
I think you might need to fork the project and remove `watchForHtmlChanges()` in `NgxMasonryDirective`. Then you could manually call `._layout()` on the `NgxMasonryComponent` when appropriate.

[2018-02-05 22:08] peluqui2010 opened #16 "Error when running command ionic cordova build ios --prod --aot"
Can you help me, cause i have that error when i want to complile my project with --prod flag!!

Thanks

"typescript error
            Error during template compile of 'NgxMasonryModule' Function calls are not supported in decorators in
            'NgModule' 'NgModule' calls a function at @angular/core/core.ts(194,50).

Error: The Angular AoT build failed. See the issues above
    at /Users/martin

[2018-02-09 00:11] flaviencathala opened #17 "Upgrade dependencies to Angular >=5.0.0 <6.0.0"
Hey guys,

Direct dependencies and peer dependencies versions are different.
It causes "yarn check" failure.
That would be great if you could update to Angular >= 5.0.0.

Thanks a lot !

[2018-02-11 12:10] #17 closed

[2018-02-16 14:47] kshivan27 opened #19 "Exception: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
Hello. If I use  [useImagesLoaded]="true" then DOM Exception: "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node..." occurs.
Could you consider using
                       element.remove()
instead of
                      this._element.nativeElement.removeChild(element) ?(It is within "public add(element: HTMLElement")
It works fine for me.

[2018-02-22 08:26] abel672 commented on #15
Thanks @thefliik. I will give it a try asap to see how it works and let you know. Right now we solved the problem using translateX and Y coordinates to positioning the cards as masonry. Is something that [Pinterest](https://www.pinterest.es/) is doing right now. I am curious to see the end result. I will put it here for future commons situations.

[2018-02-27 12:49] AhHa45 opened #20 "horizontalOrder missing"
horizontalOrder option is missing in NgxMasonryOptions, can you please add it?
Also in your example you state to use MasonryOptions instead of NgxMasonryOptions.

[2018-02-28 09:32] thefliik commented on #9
So I got plunkr working on my computer and decided to run your example again. As I suspected, this is user error. NgxMasonry works fine, you were not following the [masonry instructions](https://masonry.desandro.com/layout.html).

Working plunkr can be seen here: https://plnkr.co/edit/JF0LvCooeqtHOcHE7qyG

[2018-03-04 08:03] ghillert commented on #13
Hitting the exact same issue - Using Angular `5.2`, even for non-AOT dev builds:

[code]

[2018-03-10 06:40] renzo031109 commented on #13
ghillert I have the same issue.

[2018-03-13 18:51] ghillert commented on #13
Looks like updating the project dependency to Angular5 will fix the issue. Rebuilt `ngx-masonry` locally and it works for me.

[2018-03-17 21:44] AstRonin commented on #16
The same error with --prod flug using angular_cli:

`ERROR in Error during template compile of 'NgxMasonryModule'
  Function calls are not supported in decorators in 'NgModule'
    'NgModule' calls a function at ..\@angular\core\core.ts(194,50).`

And with --dev flug I see follow error in browser console:

`Unexpected value 'NgxMasonryModule' imported by the module 'AppModule'. Please add a @NgMod

[2018-03-18 14:32] shad1w opened #21 "@NgModule annotation error"
In the latest version, I'm having the same problem as mentioned in the closed issue #1.

It seems like in the published NPM package, the `@NgModule` annotation is missing in `ngx-masonry.module.d.ts` again.

[2018-03-28 15:01] darthsitthiander commented on #21
I'm getting the same error message. Hopefully this is a quick fix seeing as it had been resolved earlier.

[2018-03-30 19:11] dessalines commented on #15
This should be a configuration option.

[2018-04-04 22:26] amiller29au commented on #3
Change detection is inherited from the parent or containing component so there is no need to specify  ChangeDetectionStrategy from with ngx-masonry.component itself.

[2018-04-12 04:37] Lxxyx commented on #21
Same issue

[2018-04-14 12:01] alexkovachevic commented on #21
I'm getting this error:

ERROR in Error during template compile of 'NgxMasonryModule'
  Function calls are not supported in decorators in 'NgModule'
    'NgModule' calls a function at ../@angular/core/core.ts(194,50).

[2018-04-20 12:43] Taewa commented on #13
@ghillert
I have tried what as you said.

I opened `package.json` of ngx-masonry, update to `5.2.0` anything related to Angular then `npm install` (Im using angular 5.2.0 in my project).
and then `npm run build`.
But no luck. I get following error.
[code]

Can you explain how to rebuild?

[2018-04-22 00:13] cgilbe27 opened #23 ""ngx-masonry": "^1.0.7" Missing horizontalOptions"
ERROR in Z:/WildFyre/webcl/src/app/userPosts/userPosts.component.ts (19,5): Type '{ transitionDuration: string; horizontalOrder: boolean; }' is not assignable to type 'NgxMasonryOptions'.
  Object literal may only specify known properties, and 'horizontalOrder' does not exist in type 'NgxMasonryOptions'.

Latest npm package has the following NgxMasonryOptions:
http://prntscr.com/j8f3jg

[2018-04-22 21:51] cgilbe27 commented on #23
Was able to fix this by adding the code directly into my project and adding the horizontalOrder?: boolean; param to the end of ngx-masonry-options.interface.ts

[2018-04-23 17:05] akatrukhin commented on #13
@Taewa Install plugin ngx-masonry, using terminal go to your node_modules/ngx-masonry and run the command npm install -g npm-check-updates, Then use the command ncu -u The following package should update to the latest version, If the packages are still pointing to Angular 4, try to install it manually. If you still have the issue, go to node_modules/ngx-masonry/node_modules/@angular/core and do th

[2018-04-30 16:39] thefliik opened #24 "Try using `ng-packagr` to avoid npm issues"
I just ran across the `ng-packagr` library which may simplify / improve the process of releasing this library on NPM. `ng-packagr` is automates the process of releasing a library such as `ngx-masonry` for distribution on npm.

Anyway, dunno if this might be helpful but here's a link:
https://github.com/dherges/ng-packagr

[2018-04-30 18:33] thefliik commented on #3
Good to know

[2018-04-30 18:33] #3 closed

[2018-05-02 01:31] thefliik commented on #24
👍

[2018-05-02 01:31] #24 closed

[2018-05-02 08:05] Taewa commented on #13
@gbesset
I actually forked one of the angular masonry and [have created my own](https://www.npmjs.com/package/ngx-isotopex).

[2018-05-07 04:41] brettshepherd opened #25 "Using images loaded can't load in order"
I'm new to this library, so I don't know if this is really a bug as much as just a limitation, but how can i make the images actually appear in order when using the useImagesLoaded. They are usually just completely mixed. I tried taking a look at the source code, but to be honest didn't really know what to add/change. Any ideas?

[2018-05-07 08:03] gethinoakes commented on #25
Images load in the order that they load from the server, depending on their size etc. If you look at the ImagesLoaded library you'll see the same thing.

If you wanted to show them in order you would need to write a script that would delay showing each image until the previous image had loaded.

[2018-05-07 08:03] #25 closed

[2018-05-07 09:20] valorad opened #26 "Support Angular 6 by upgrading package dependencies?"
When implementing ngx-masonry to my project, I encountered an error:

I am working on a project involving Angular 6.

I noticed that ngx-masonry has dependencies of `@angular/core^4.x.x`, so i tried deleting `node_modules` folder in ngx-masonry package (so as to use my Angular 6), and compilation was successful.

So I assume we can just upgrade the dependencies to 6? Or at least add as a peer depe

[2018-05-08 07:52] AhHa45 commented on #16
I have the same issue
    "@angular/core": "^5.2.10",

[2018-05-08 07:53] AhHa45 commented on #21
I have the same issue:
    "@angular/core": "^5.2.10",

[2018-05-11 02:41] LucHighwalker opened #27 "Uncaught Error: Unexpected value 'NgxMasonryModule' imported by the module 'AppModule'. Please add a @NgModule annotation."
Hey, so I'm getting this error when trying to import the module, it just flat out fails to compile. This is before even trying to use it, just importing it into the app.module results in this error. I am using angular 5. I have tried saving it to a local folder instead of as an npm module as others who are failing to get it to compile have suggested, but it still throws the same errors. I'm not en

[2018-05-11 06:34] LucHighwalker commented on #27
well, that did indeed make it work! Kudos to you sir!

[2018-05-11 15:34] gethinoakes commented on #26
Yeah.

I've just started upgrading the angular project I work on day to day to Angular 6 and they have a nice new feature where you can build a library inside the project and publish it, so I'll be doing that soon for this library and hopefully that'll fix a bunch of issues people have been raising as well as yours.

[2018-05-11 15:36] gethinoakes opened #28 "Update library for Angular 6 etc."
- [x] Build using Angular CLI 6 Library tools
- [x] Add horizontalOrder property to options
- [x] Fix example 'MasonryOptions' to 'NgxMasonryOptions'
- [x] Move library to its own project, rather than a fork

[2018-05-11 15:36] gethinoakes commented on #26
Closing for #28

[2018-05-11 15:36] #26 closed

[2018-05-11 15:37] gethinoakes commented on #27
Seems solved, thanks @thefliik

[2018-05-11 15:37] #27 closed

[2018-05-11 15:38] gethinoakes commented on #28
Add horizontalOrder property to options - #23

[2018-05-11 15:39] gethinoakes commented on #23
Thanks for reporting, will fix in #28

[2018-05-11 15:39] #23 closed

[2018-05-11 15:39] gethinoakes commented on #20
Thanks, will fix in #28

[2018-05-11 15:39] #20 closed

[2018-05-11 15:40] gethinoakes commented on #14
Will get this done in #28

[2018-05-11 15:40] #14 closed

[2018-05-11 15:40] gethinoakes commented on #28
Create as its own project, rather than a fork. #14

[2018-05-11 15:44] gethinoakes commented on #10
Not an issue with the library it seems but with your implementation of the masonry options? closing.

[2018-05-11 15:44] #10 closed

[2018-05-11 15:44] gethinoakes commented on #9
Thanks @thefliik, closing.

[2018-05-11 15:44] #9 closed

[2018-05-11 15:46] gethinoakes commented on #21
Will fix in #28

[2018-05-11 15:46] #21 closed

[2018-05-11 15:57] asfo commented on #10
Mmm yeah, not an issue with the library but using the library breaks everything but without it, works as intended...

[2018-05-11 16:06] gethinoakes commented on #10
That was quite a contradictory sentence...
Anyway it's not the library as @thefliik had it working using it, and I have also used PercentPosition in the past with it (don't anymore). And using the library doesn't "break everything" as I've been using it for months.

Don't know why it isn't for you.

[2018-05-15 04:33] pacozevallos opened #29 "error in Angular 6"
I just installed it in Angular and I get the following error:
`Uncaught Error: Unexpected value 'NgxMasonryModule' imported by the module 'AppModule'. Please add to @NgModule annotation.`

In my app.module I have:

`
import {NgxMasonryModule} from 'ngx-masonry';
 
@NgModule ({
   imports: [
     NgxMasonryModule
   ]
})
`

I'm missing something?

[2018-05-15 09:32] gethinoakes commented on #28
done > https://github.com/gethinoakes/ngx-masonry/

[2018-05-15 09:32] #28 closed

[2018-05-15 10:42] gethinoakes commented on #29
Try here
https://github.com/gethinoakes/ngx-masonry

[2018-05-15 10:42] #29 closed

[2018-05-16 15:41] gethinoakes commented on #1
... any errors, example code, live example of your issue?

[2018-05-16 18:19] hmanprod commented on #1
I have no error on my console.
The feature horizontalOrder: true is only not working. My items is not order from left to rigth as it supposed to do as explain [here](https://github.com/desandro/masonry/issues/873):

Here below my code

[code]

[2018-05-16 19:55] hmanprod commented on #1
I got it. I need to update to the last version of masonry-layout to make it work correctly : 4.2.0 to 4.2.1

[2018-06-27 22:29] gethinoakes commented on #5
Read the masonry docs for that

https://github.com/desandro/masonry

[2018-07-13 01:45] USPTraining commented on #6
I am also facing the same issue. if I don't use [useImageLoaded] then they are appearing in the right order but not stacked properly

[2018-08-08 13:02] vanncho commented on #3
I'm facing the same issue and looking for a solution.

[2018-08-10 09:11] sgruhier commented on #6
The way it's implemented, it cannot work. It removes DOM element, then load images, then add DOM element back when images are loaded. Nothing ensure that async load images will keep DOM element order. There is also another bug/side effect. mansory.layout() is called multiple times.

So far, from what I understood about ngx-mansory, it's hard to fix. I'll try something first in my project and see i

[2018-08-16 11:31] jorroll commented on #10
Have you tried creating a new array which contains the new object, and replacing the old array with that?

At first glance, this sounds like a known limitation of Angular's change detection, not an ngx-masonry bug. In general, change detection is done by object identity. When you push a new object into an array, the array's identity does not change.

[2018-08-17 01:48] jayzyaj commented on #10
@thefliik My goal is to not refresh the whole array I just want to unshift the new object into the beginning or the top of masonry but it always display it at the bottom when I call the update`[updateLayout]="updateMasonryLayout"`.

[2018-08-17 02:02] jorroll commented on #10
It sounds like you just said "my goal is not to change the array, I simply want to move things around in the array."

I'll point out the obvious, moving things around in the array *is changing the array*. For angular's `OnPush` change detection to work, you'll need to clone the array whenever you push things into it (this will tell Angular to run change detection again).

i.e
[code]

At least I as

[2018-08-17 02:06] jayzyaj commented on #10
@thefliik  so I would call the updateLayout and point it to the model array and made changes right?

[2018-08-17 02:15] jorroll commented on #10
[It looks like](https://github.com/gethinoakes/ngx-masonry/blob/d389d6116e195b0a5b8dfc8d3f78c5666ca6236d/src/lib/ngx-masonry.component.ts#L82) you can pass *anything* into `[updateLayout]`, so long as that thing triggers change detection (i.e. is a new object). This is because all `updateLayout` appears to do is trigger a call to `this.layout()`. The value you pass to `updateLayout` isn't actually

[2018-08-17 02:19] jorroll commented on #10
Note, it looks like the code expects a boolean value for `updateLayout`, but, while assigning a new boolean to the property would trigger change detection the first time, reassigning the same value boolean to the property would not trigger change detection subsequent times.

[2018-08-17 02:21] jayzyaj commented on #10
@thefliik  I tried to do that earlier in this example below.

[code]
And in my html

[code]

For more clarification I used the **object spread oberator** and add a property of `loaded: false`  when I get the response of the newly created post. When the loaded is set to **false** it will show a preloader animation in that single object in the array that I created using html and css. The rest of the

[2018-08-17 02:30] jorroll commented on #10
Well at first glance that code looks good, and your use of `this.masonry.layout()` in the `setTimeout` callback should eliminate the need for `[updateLayout]="posts"` on `<ngx-masonry>`. You might try also calling `this.masonry.reloadItems()` at the same time you call `this.masonry.layout()`. I seem to remember in a few cases I found I needed to call both of them to get things working. Not sure if

[2018-08-17 02:32] jorroll commented on #10
If you're using `ChangeDetectionStrategy.OnPush`, the issue might be that you're not calling `this.changeDetectorRef.markForCheck()` within the component.

[2018-08-17 02:38] jayzyaj commented on #10
The problem is even thou I used `unshift` to push the object at the beginning of the array it still pushes at the bottom of the content. I tried using `this.posts.slice(0, 0, post)` but still has no luck.

[2018-08-17 16:47] jorroll commented on #10
It looks like ngx-masonry delegates to a `layout()` method within the masonry library itself to handle layout. Looking at the masonry library, it looks like html changes are appended (as opposed to prepended) to masonry's internal list of items. Looks like it's possible to [manually prepend new items (check out the `prepend` method)](https://masonry.desandro.com/methods.html), but looking at ngx-m

[2018-08-29 02:41] nsksaisaravana commented on #8
I am also having the same issue. Please fix this.

[2018-08-30 00:47] inshaf commented on #8
im also having the same issue :(

[2018-08-31 01:59] inshaf commented on #8
any solutions ?

[2018-09-05 03:52] nsksaisaravana commented on #8
+1

[2018-09-05 09:05] tempurai commented on #8
+1

[2018-09-20 09:10] Murena7 commented on #8
Hello, quick solution to fix twice rendering in --prod mode is: set in angular.json "buildOptimizer": false.
This solution does not greatly increase the size, and works well.

[2018-09-22 09:10] kolomu commented on #8
pure_getters from build optimizer is probably causing this issue. See: https://github.com/angular/angular-cli/issues/11439 for more information or this link: https://github.com/angular/angular-cli/issues/12096

[2018-10-09 20:33] kanvishok commented on #1
@hmanprod I updated to 4.2.2 also still horizontalOrder not correct always. its 70% to 80% of the time. I am not sure if I am missing

<ngx-masonry [useImagesLoaded]="true" [options]="masonryOptions" >
  <ngxMasonryItem   *ngFor="let feed of  this.feeds.ToArray()" class="brick">
    <app-feed-card [feed]="feed"  ></app-feed-card>
  </ngxMasonryItem>
</ngx-masonry>

 public masonryOptions: NgxMason

[2018-11-20 19:10] MakG10 commented on #6
Here are approaches I took to preserve correct items order when there are images with various heights involved:

1. Set `horizontalOrder: true` in `[options]`
2. Update masonry layout when image gets loaded:
[code]
Layout is updated every time the variable `updateMasonryLayout` is changed. If you have a lot of items you may wanna do this every n-th element for performance reasons.

[2018-11-22 06:31] hemangsk commented on #10
Hey @jayzyaj , were you able to find a fix for this issue? I'm facing the exact same problem of posts not ordered properly after sorting and change detection.

[2018-12-23 19:31] wynfred commented on #13
@gethinoakes hello, I understand that you don't have time to maintain this project, but could you update the dependency to support angular 7? I'm using it with v7 and it works fine. I just want to remove the peerDependency warning.
You can also transfer this repo and npm lib to me, and I'll update the dependency and try to support it.
Thanks!

[2019-02-01 11:12] experionakash commented on #13
Any updates on this

[2019-02-04 11:13] Valindo commented on #13
@gethinoakes , Willing to help maintain this, what do I need to get done?

[2019-02-06 03:26] Valindo commented on #12
Hey, could you please mention the steps to reproduce this error?

[2019-03-12 06:36] keandfan commented on #3
have you been solved it ? i have the same problem.

[2019-04-04 02:00] opliz commented on #15
You should install these package:     "imagesloaded": "^4.1.1", "masonry-layout": "^4.2.0" in package.json file. Then using similar code:
`<ngx-masonry (layoutComplete)="layoutComplete($event)" [options]="masonryOptions" [useImagesLoaded]="true">
        <ngxMasonryItem *ngFor="let image of images; let i = index" class="item col-md-4">
          <a (click)="openGallery(i)">
            <img width=

[2019-07-09 14:04] ricardosaracino commented on #13
if someone wants to take ownership ill pitch in with maintenance

[2019-07-09 15:43] wynfred commented on #13
@ricardosaracino I updated the dependencies for this lib and published a new package `ng-masonry-layout`. If you are interested you can join and maintain this one.

[2019-07-09 15:54] gethinoakes commented on #13
I have just pushed an update to remove the dependency limits.
@wynfred if you want to take ownership of this repo & npm library let me know.
... or anyone else for that matter.

[2019-07-09 16:23] wynfred commented on #13
@gethinoakes I would like to. My npm username is the same as github's. Thanks for your work!

[2019-07-09 16:28] gethinoakes commented on #13
@wynfred transferred the npm package to you and going to do the same with this github repo now (will also transfer the demo repo).
Thanks and good luck 👍

[2019-07-12 04:08] alipajand commented on #16
I was upgraded all of my packages to angular 8.1.1 and I also see that v1.1.3 is broken!
```Cannot find module 'ngx-masonry'```

[code]

[2019-07-12 06:17] jorroll commented on #16
Dunno if this will help, but I maintain a separate angular library ([Angular IsLoadingService](https://gitlab.com/service-work/is-loading)) and I noticed this problem (`Cannot find module 'ngx-masonry'`) pop up in Angular 8. I was able to trace the issue to the `.metadata.json` file which ng-packagr produces when you bundle the library. For some reason the metadata file had incorrect filepaths sav

[2019-07-12 17:54] blodter commented on #16
Ran into the same problem - downgraded ngx-masonry to v1.1.2 and everything started functioning properly again.

[2019-07-12 18:03] gethinoakes commented on #16
Apologies, I seem to have messed up the last release. I’m sure @wynfred will sort it soon 👍

[2019-07-13 22:58] wynfred commented on #16
1.1.4 was released 🎊

[2019-07-22 20:58] hugoblanc commented on #15
Same for me. imagesloaded and masonry-layout was already installed

[2019-07-22 23:53] jorroll commented on #15
This is a generic Angular error indicating that the component you are trying to use has not been declared in the current module context. You need to add the ngx masonry module to your module's imports array.

[2019-07-23 08:15] hugoblanc commented on #15
I was so sure about myself ...
Module import in home.module and component used into another one ...

[2019-07-23 12:47] jorroll commented on #15
It happens to the best of us 👍

[2019-07-24 20:20] wynfred commented on #17
desandro/masonry doesn't support insert item to in middle of the list so it's hard to keep items ordered when images loaded asynchronously. If you want to force the order of the list, you'll have to load items synchronously. If you can get your image's dimension before the image is loaded, you can put a placeholder in your item and remove usage of imagesloaded to keep the order.

[2019-07-25 07:14] ghost commented on #17
@wynfred  Thank you for your reply.
I got a hint on your answer.
I used 'imageloaded', And I gave the delay to array push.
The problem disappeared, but founded problem of mixing the image when changing the browser size using toggle Device Toolbar in Chrome. (Image loading completed status)
Thank you again.

[2019-07-25 16:04] wynfred commented on #17
No problem. You need to subscribe to viewport size change and call `layout` function or use the `updateLayout` input.

[2019-08-02 11:55] jpekeene commented on #3
Best workaround for me was this:-
[code]

So reset the array to empty then use a timeout to populate it after the fact. Seems there's no way of accessing the items in the masonry array using ViewChild so this was the best I could figure. Obviously a bit hacky but works.

[2019-08-07 10:25] ghost commented on #19
I solved it via document's .gutter-sizer. Thank you.

[2019-08-30 04:02] txw8 commented on #20
发现是ngx-masonry.component.ts文件中的add方法的this._element.nativeElement.removeChild(element);引起的, 需要判断element 为 this._element.nativeElement的子元素后, 再执行removeChild就不会报错了,但我无法推送分支, 所以还请作者改一下,谢谢!
                ......
		if (this.isParent(element, this._element.nativeElement)) {
			this._element.nativeElement.removeChild(element);
		}
                ......

	public isParent (obj, parentObj){
		while (obj !=

[2019-08-30 17:40] wynfred commented on #20
Hi, thanks for reporting the issue! I'm using English because I want people who get the same exception and find this issue know what's happening here. Thank you for your PR but unfortunately I cannot accept it before further investigation is done.
So the problem seems like you are trying to add a tag that is outside of the masonry. But since you said that the online demo also has the same error, c

[2019-08-31 16:10] txw8 commented on #20
Hi, Thank you for your reply me this question, I used the online demo you provided. The demo website is https://ngx-masonry-demo.herokuapp.com/ , I use Google Browser. You can see this picture. The same error occurred when I used this plug-in in my project.
(https://user-images.githubusercontent.com/23185097/64066394-953e1c80-cc4b-11e9-9de5-6aeead13aa9d.png)

[2019-09-03 16:42] wynfred commented on #20
I still can't reproduce this issue. Could you tell me the version of your Chrome and try the online demo in the latest version/another browser?

[2019-09-04 05:40] txw8 commented on #20
I've upgraded my chrome to version 76.0.3809.132, but the console still will report the error when I hit the load button multiple times. The same error is reported with firefox.

[2019-09-04 17:07] wynfred commented on #20
Oh you mean click the load button multiple times. Yeah now I can reproduce it. I think the issue is in the demo instead of the library. The demo uses the `filter` function which creates a new array to load new items. And when you click the button before the previous load is done, it tries to remove the element that was already removed.
The library can handle the error silently like the PR you subm

[2019-09-06 13:12] iamsahilralkar commented on #23
hi!
After spending a whole day I resolved this issue.
What I did:
In ngx-masonry.metadata.json file I updated the version number from '4' into '3'
and saved the changes and run the project without any error.

please look into it. This may be wrong but it worked for me.

[2019-09-07 04:50] wynfred commented on #23
Hi, this library was developed to support angular 5 so it may not work with v4. You can take a look at https://github.com/jelgblad/angular2-masonry if you can't upgrade your angular version.

[2019-09-09 15:34] wynfred commented on #24
Hi, if this option is supported by the masonry library, it should be supported by this angular component as well. You can try to pass a selector (gutter-sizer) to the gutter option.

[2019-09-09 19:13] j0nm1 commented on #24
I already tried the following but it has no effect. There is no error but the gutter is not applied:

[code]
[code]

[2019-09-09 20:14] wynfred commented on #24
You need an element like `<div class="gutter-sizer"></div>` in the masonry. It won't work if you only have a css class.

[2019-09-09 20:23] j0nm1 commented on #24
Thanks!
I got it to work with this code:

[code]

[code]

[2019-09-10 09:49] iamsahilralkar commented on #23
thank you! will check it out.

[2019-09-12 15:47] wynfred commented on #25
Hi, could you create an example on stackblitz that reproduces this issue? And you can also check how long does it take to load the gif without masonry.

[2019-09-13 15:17] gamoreli commented on #25
Hi, thanks for your support. I have tested the code on stackblitz and apparently the problem is not caused by masonry. Giphy API sometimes is too slow, I changed it to Tenor API and now it's working fine.

Closing the issue for now.

[2019-10-01 01:58] madmacc commented on #10
@jayzyaj I have the same issue to and I tried most of the above before I found this.  Did you end up with a solution?

[2019-10-01 02:12] jayzyaj commented on #10
@madmacc @hemangsk can't remember the algorithm or code we designed to achieve this. There are so many hacks that we did and it's not the best practice as I remember there are also lot of performance issue and we revamped the project on react but it gets the job done. Sorry guyss

[2019-10-01 03:16] madmacc commented on #10
I actually just got it working using the following.
It redraws the masonry layout from scratch but otherwise it works fine.

[code]

[2019-10-01 15:51] wynfred commented on #10
Not sure if this helps your issue, just don't forget to use reload_items if you change the order of the array.
https://github.com/wynfred/ngx-masonry/issues/18#issuecomment-520551876

[2019-10-01 16:10] wynfred commented on #3
Try reload_items after the order of array is changed https://github.com/wynfred/ngx-masonry/issues/18#issuecomment-520551876

[2019-10-01 16:13] wynfred commented on #9
Feel free to reopen if you can provide an example project that reproduces the issue :)

[2019-10-01 16:35] wynfred commented on #6
To keep the order of images, you could
1. load images synchronously
2. call reload_items and layout to refresh the order after all images are loaded https://github.com/wynfred/ngx-masonry/issues/18#issuecomment-520551876
3. if you know the dimension of image before it's loaded, add a div as placeholder

[2019-10-01 16:43] wynfred commented on #8
The issue should be fixed. Feel free to reopen if it's not.

[2019-10-01 19:33] madmacc commented on #10
@wynfred  Thanks, that is a much better solution.

[2019-10-02 01:05] nsksaisaravana commented on #8
@wynfred Thanks a lot, works like a charm. when are you going to upgrade to angular 7, 8, 9??

[2019-10-02 16:29] wynfred commented on #8
@nsksaisaravana  The current version should work with v7 and v8. I think it should work with v9 and IVY as well, and I'll do more testing after the official v9 is released.

[2019-10-14 03:52] wynfred commented on #26
The issue should be fixed in the latest angular. What version are you using?

[2019-10-14 19:25] madmacc commented on #26
"ngx-masonry": "^1.1.4", (The current latest)
"@angular/animations": "~8.2.5",
"@angular/core": "~8.2.5"

[2019-10-15 16:02] wynfred commented on #26
OK, could you please reproduce it in a repo or stackblitz? I'll take a look at it.

[2019-10-15 21:05] madmacc commented on #26
Sure.  I could not reproduce on stackblitz as it needs to be built with --prod.
Its my first time adding something to github so let me know if there are any issues.
https://github.com/madmacc/ngxMasonryExample

To reproduce:
ngserve --prod or ngbuild --prod

When the page is first loaded, the refresh button or browser refresh button is clicked it should perform the double animation.

[2019-10-17 14:58] wynfred commented on #8
Reopen because same issue was reported by #26

[2019-10-17 15:01] wynfred commented on #26
Seems like although pure_getter was removed, the animation issue is still there. I'm closing this and will reopen the previous issue.
As workaround, you could disable the animation in masonry and add your own angular animation.

[2019-10-22 18:24] ssharma555 commented on #20
@wynfred Can you please describe the right way to load the items ?
I am using infinite scroll and below is my code which is making use of  ngx-masonry:

    <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true"  (layoutComplete)="doStuff($event)" >
      <div ngxMasonryItem *ngFor="let d of page.data | async" class="masonry-item" >
        <app-item-card [data]="d"></app-item-card>

[2019-10-23 20:55] wynfred commented on #27
The order of items is the order that items are appended. If the order of array is different, you can call reload_items to restore correct order.
https://github.com/wynfred/ngx-masonry/issues/18#issuecomment-520551876

[2019-10-23 21:05] wynfred commented on #20
@ssharma555 I'm not sure how you implemented the infinite scroll, but the idea is to not load items before the previous request is processed. You can add a flag like `this.isLoading`, set it to true when you scroll to bottom, set it to false in `layoutComplete` and only load new items when it's false.

[2019-10-28 20:09] madmacc commented on #8
The fix above by @Murena7 worked for me as an interim solution.

[2019-10-29 15:22] wynfred commented on #8
@madmacc Just FYI, if you have an app in production, turning off buildOptimizer is not a good idea, unless you are fine with the change of bundle size.

[2019-10-29 15:52] wynfred commented on #28
1. You need to find a way to listen to the resize event of the element, and then call the `layout()` function of masonry.
2. Not sure what the issue is. If you can reproduce it on stackblitz I can take a look at it.

[2019-10-29 20:27] madmacc commented on #8
@wynfred  True.  I ended up using your other suggestion and turning off the animation and using my own angular animations.
[code]

[2019-11-13 13:39] alecrt commented on #20
Same problem here, using infiniteScroll

[2020-01-09 18:39] wynfred commented on #29
Hi, could you make sure that you used the right container as masonry item? Not sure what the problem is here. If you can provide a repro I can take a look at it.

[2020-02-10 11:23] akropolis7 commented on #20
Hello, i have this problem after update my angular project to 8 version, before i didn't have this problem

[2020-02-10 19:44] etsraphael commented on #20
I got the same issue with infiniteScroll and angular 8

[2020-03-11 13:01] flodaniel commented on #8
any update on this? does anybody have a suggestions to keep the animations and fix this? :)

[2020-03-26 07:29] pranayg25 commented on #1
@hmanprod How did you update the version? can you please explain? I am still struggling with this.

[2020-04-02 08:14] wynfred commented on #29
Feel free to reopen if you have repro steps

[2020-04-02 08:14] wynfred commented on #28
Feel free to reopen if you have repro steps

[2020-04-04 06:38] ghost commented on #20
I'm experiencing the same issue: I am loading items synchronously because I want to keep the order of items. Imageloaded is set to true and I force the order by adding an item to an array when layoutcomplete is called. But still the error. Any ideas?

[2020-04-13 07:28] wynfred commented on #10
Updated readme with instructions - https://github.com/wynfred/ngx-masonry#faq

[2020-04-15 08:20] wynfred commented on #8
Hopefully this fixes the animation issue. I'd appreciate if you can help test the new release and report issues if there are.
https://github.com/wynfred/ngx-masonry#animations

[2020-05-12 11:52] ifumi commented on #1
I got the same problem. The horizontalOrder property seems to do nothing. Each time I reload the page, the order of the items is different.

[2020-05-15 08:07] wynfred commented on #1
https://github.com/wynfred/ngx-masonry/issues/38#issuecomment-629088124

[2020-05-15 16:57] webcat12345 commented on #8
@wynfred I really like your last update v9, that's amazing, just leaving this comment here, coz this is the only way to send you a message :) You are awesome :+1:

[2020-05-15 18:59] wynfred commented on #8
@webcat12345 glad to hear that 😄

[2020-08-19 10:36] rozzs74 commented on #8
Any updates here?

[2020-08-20 11:16] rozzs74 commented on #26
Hi, I am experiencing this issue. My angular version is 6.0.2

[2020-11-24 10:14] Akiyamka commented on #20
Error still exist